@using Microsoft.EntityFrameworkCore.Metadata.Internal
 @model IEnumerable<GroupWebApplication.Models.ImageModel>

 @{
     ViewData["Title"] = "Images";
 }

 <h1>Nasa Daily Images</h1>

<table class="table">
    <tbody>
    @foreach (var image in Model)
    {
        <tr>
            <td>
                <img src="@Html.DisplayFor(Model => image.Url)"
                     alt="@Html.DisplayFor(Model => image.Title)"
                     width="500" height="281"/>
            </td>
            <td>
                <h4>@Html.DisplayFor(Model => image.Title)</h4>
                <h5>@Html.DisplayFor(Model => image.Date)</h5>
                @Html.DisplayFor(Model => image.Explanation)
            </td>
        </tr>
    }
    </tbody>
</table> 